<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<h1>New TeeMates Competition</h1>
<h3></h3>
<p>Hi TeeMates member,</p>
<p>We have just added a new competition on TeeMates which will take place at <%= @competition.course.name %> on
  <%= @competition.competition_date %>.  Make sure to head over to <%= @url %> to sign up</p>
<p>Put the date in your diary!</p>
</body>
</html>