<% @holes.reverse.each do |hole| %>
$('#scorecard').after("<tr>" +
        "<td><%= hole.number %></td>" +
        "<td><%= hole.par %></td>" +
        "<td><%= hole.distance %></td>" +
        "<td><%= hole.handicap %></td>" +
        "<td><input type='text' class='input-mini' /></td>" +
        "<td><input type='text' class='input-mini' /></td>" +
        "</tr>");
<% end %>