<div class="container">
  <div class="row">
    <div class="span12">
    <div class="page-header">
      <h1>New Round</h1>
    </div>

    <!-- Create round form -->
    <%= render :partial => 'form' %>

    </div>
  </div>

</div>