<h1>Scorecard</h1>
<div class="row">
  <div class="span2">
    <%=  image_tag 'courses/knightsbrook.jpg', :class => 'pull-left' %>
  </div>
  <div class="span10">
    <h3>Knightsbrook</h3>
    <h5>2012-11-28</h5>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <th>Hole</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>IN</th>
        <th>OUT</th>
        <th>TOTAL</th>
      </thead>
      <tbody>
        <tr>
            <td>Par</td>
            <td>4</td>
            <td>4</td>
            <td>3</td>
            <td>5</td>
            <td>3</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>3</td>
            <td>5</td>
            <td>3</td>
            <td>36</td>
            <td>36</td>
            <td>72</td>
        </tr>
        <tr>
            <td class='green'>Yards</td>
            <td class='green'>409</td>
            <td class='green'>403</td>
            <td class='green'>127</td>
            <td class='green'>494</td>
            <td class='green'>158</td>
            <td class='green'>501</td>
            <td class='green'>378</td>
            <td class='green'>439</td>
            <td class='green'>383</td>
            <td class='green'>357</td>
            <td class='green'>412</td>
            <td class='green'>409</td>
            <td class='green'>481</td>
            <td class='green'>434</td>
            <td class='green'>377</td>
            <td class='green'>160</td>
            <td class='green'>523</td>
            <td class='green'>160</td>
            <td class='green'>3313</td>
            <td class='green'>3292</td>
            <td class='green'>6605</td>
        </tr>
        <tr>
            <td>SI</td>
            <td>4</td>
            <td>2</td>
            <td>18</td>
            <td>14</td>
            <td>10</td>
            <td>16</td>
            <td>12</td>
            <td>6</td>
            <td>8</td>
            <td>13</td>
            <td>7</td>
            <td>3</td>
            <td>17</td>
            <td>1</td>
            <td>5</td>
            <td>15</td>
            <td>9</td>
            <td>11</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>5</td>
            <td>6</td>
            <td>3</td>
            <td>7</td>
            <td>5</td>
            <td>6</td>
            <td>6</td>
            <td>5</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>6</td>
            <td>6</td>
            <td>6</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>45</td>
            <td>48</td>
            <td>93</td>
        </tr>
        <tr>
            <td>Score</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>18</td>
            <td>14</td>
            <td>32</td>
        </tr>
        <tr>
          <td>Shots</td>
          <td>*</td>
          <td>*</td>
          <td></td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>